header h1{
    text-align: center;
    font-family: Apple Chancery, cursive;
    background-color: #2B2D42;
    margin-top: 0px;
    padding: 1.5em;
    color: white;



}
body{
    margin-top: 0px;
}